 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


 html {
     min-height: 100%;
     position: relative;
 }

 body {
     font-family: 'Amatic SC', cursive;
     margin: 0;
     letter-spacing: 2px;
     text-align: center;
 }

 /*header*/
 header {
     text-align: center;
     font-size: 38px;
     border-bottom: 5px black solid;
     line-height: 0%;
 }

 section {
     padding-bottom: 50%;
 }


 /* game area styling */
 .game-area {
     width: 75%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 1px;
     text-align: center;
     font-size: 200%;
     margin-bottom: 5px;
     font-weight: bolder;

 }

 .control {

     display: inline-block;
     width: 100px;
     height: 60px;
     border-radius: 0%;
     font-size: 70%;
     font-family: 'Amatic SC', cursive;
     font-weight: bolder;
     letter-spacing: 2px;
 }


 .player {
     margin-left: 5%;
     float: left;
     width: 40%;
     border-style: solid;

 }

 #player-image {
     width: 59%;

 }

 #player-scores {
     font-size: 150%;
     padding-left: 10%;
 }

 .computer {
     margin-right: 5%;
     float: right;
     width: 40%;
     border-style: solid;

 }


 #computer-image {
     width: 59%;

 }

 #computer-scores {
     font-size: 150%;
     padding-left: 10%;
 }

 .scores {
     font-size: 200%;
     font-weight: bolder;
     text-align: left;
     margin-left: 10%;
 }

 /*Styling of the footer area */
 footer {

     position: absolute;
     width: 100%;
     left: 0;
     bottom: 0;
     font-size: xx-large;
     margin-top: auto;
     padding-top: 1rem;
 }

 #github {
     float: left;
     margin-left: 15px;
     font-size: smaller;
 }

 #website {
     float: right;
     margin-right: 15px;
     font-size: smaller;
 }