/*font is not being added*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


/* Main View Setup */

body {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
}

header {
    text-align: center;
    font-size: 80px;
    border-bottom: 5px black solid;
    line-height: 0%;
}

footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    font-size: 80%;
    border-top: 5px black solid;

}

.game-area {

    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    font-size: 300%;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}